<div id="history" class="history">
    <div class="wrap wrap_thin">
        <h1 class="uppercase">Car History</h1>
        <div class="row chart_row" ng-class="{ has_charts: (charts.length > 0) }">
            <h1 class="transform_nxy_50" ng-if="charts.length < 1">No Chart Data</h1>
            <div class="charts box_sizing">
                <div class="chart box_sizing" id="chartDiv1"></div>
                <div class="chart box_sizing" id="chartDiv2"></div>
                <div class="chart box_sizing" id="chartDiv3"></div>
                <div class="chart box_sizing" id="chartDiv4"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="cars box_sizing">
                    <h3>Vehicle List</h3>
                    <fieldset>
                        <div class="car" ng-repeat="car in cars">
                            <input type="checkbox" name="car" ng-disabled="disableCars && !carInQueue(car)" value="{{car.pk_vin}}" ng-click="queueCar(car)" /> {{car.pk_vin}}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col">
                <div class="properties">
                    <h3>Car Options</h3>
                    <fieldset>
                        <div class="prop_container">
                            <div class="property" ng-repeat="prop in carProperties">
                                <input type="checkbox" ng-disabled="disableProperties && !propInQueue(prop)" ng-click="queueProp(prop)" name="carProperty" value="{{prop}}" /> {{prop}}
                            </div>
                        </div>
                        <div class="btn_container">
                            <button class="cdata_btn" ng-click="createCharts()">
                                See Chart Data
                            </button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>