<div id="history" class="history">
    <div class="wrap wrap_thin">
        <h1 class="uppercase">Car History</h1>
        <div id="charts" class="charts">
            <h3 class="uppercase">Charts</h3>
            <div class="note">Right now only values showing are speed (even if you click another checkbox, you still get speed)</div>
            <div class="no_charts" ng-if="charts == undefined">
                <strong>No car selected.</strong>
            </div>
            <div id="chartDiv"></div>
        </div>
        <div id="filters" class="filters">
            <h3 class="uppercase">Filters</h3>
            <div class="row">
                <div class="sixcol">
                    <fieldset class="cars_group">
                        <legend>Cars</legend>
                        <div class="car_row" ng-repeat="car in cars.data">
                            <div class="cell">
                                <input type="radio" class="car_checkbox" name="cars" value="{{car.vin}}" ng-click="clicked_car(car)" />
                            </div>
                            <div class="cell">
                                <label>{{car.vin}}</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="sixcol">
                    <div ng-if="clicked_car_fields != undefined">
                        <div class="field_row" ng-repeat="field in clicked_car_fields">
                            <div class="cell">
                                <input type="checkbox" class="field_boxes" name="{{field}}" ng-value="field" ng-click="clicked_field(field)" />
                            </div>
                            <div class="cell">
                                <label>{{field}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>