<div class="rtc">
    <div class="wrap">
        <h1>Real Time Cars</h1>

        <div class="dashboard_car_container">
            <div class="dashboard_car box_sizing onethird" ng-repeat="car in cars">
                <div class="sixcol left_col">
                    <h3 class="title">{{car.year}} {{car.make}} {{car.model}}</h3>
                    <div class="description">{{car.description}}</div>

                    <div class="dashboard_car_info">
                        <div class="dc_row table">
                            <div class="cell"><label>Vin: </label></div>
                            <div class="cell">{{car.pk_vin}}</div>
                        </div>
                        <div class="dc_row table">
                            <div class="cell"><label>Speed (in MPH): </label></div>
                            <div class="cell">{{car.methods.speed}}</div>
                        </div>
                        <div class="dc_row table">
                            <div class="cell"><label>Speed (in KPH): </label></div>
                            <div class="cell">{{car.methods.speedKPH}}</div>
                        </div>
                        <div class="dc_row table">
                            <div class="cell"><label>MIL: </label></div>
                            <div class="cell">{{car.methods.MIL}}</div>
                        </div>
                        <div class="dc_row table">
                            <div class="cell"><label>Time Since Start: </label></div>
                            <div class="cell">{{car.methods.timeSinceStart}}</div>
                        </div>
                        <div class="dc_row table">
                            <div class="cell"><label>Fuel Level: </label></div>
                            <div class="cell">{{car.methods.fuelLevel.toFixed(2)}}</div>
                        </div>
                        <div class="dc_row table">
                            <div class="cell"><label>Accelerator Position: </label></div>
                            <div class="cell">{{car.methods.accelPos}}</div>
                        </div>
                        <div class="dc_row table">
                            <div class="cell"><label>Engine RPM: </label></div>
                            <div class="cell">{{car.methods.engineRPM}}</div>
                        </div>
                        <div class="dc_row table">
                            <div class="cell"><label>Oil Temp: </label></div>
                            <div class="cell">{{car.methods.oilTemp.toFixed(1)}}C</div>
                        </div>
                        <div class="dc_row table">
                            <div class="cell"><label>Distance Traveled: </label></div>
                            <div class="cell">{{car.methods.distanceTraveled.toFixed(2)}}</div>
                        </div>
                        <div class="dc_row table">
                            <div class="cell"><label>Distance Traveled Session: </label></div>
                            <div class="cell">{{car.methods.distanceTraveledSession.toFixed(2)}}</div>
                        </div>
                        <div class="dc_row table">
                            <div class="cell"><label>Distance With MIL: </label></div>
                            <div class="cell">{{car.methods.distanceWithMIL.toFixed(2)}}</div>
                        </div>
                    </div>
                </div>

                <div class="sixcol options">
                    <h5>Car Options</h5>
                    <div class="options_panel">
                        <div class="toggle_running">
                            <button ng-if="!car.methods.carStarted" ng-click="car.methods.toggleRunning(car)">Start Car</button>
                            <button ng-if="car.methods.carStarted" ng-click="car.methods.toggleRunning(car)">Stop Car</button>
                        </div>
                        <div class="hideable_options" ng-if="car.methods.carStarted">
                            <div class="toggle_speed">
                                <button ng-click="car.methods.setSpeed(car.methods.speed + 5)">+</button>
                                <button ng-click="car.methods.setSpeed(car.methods.speed - 5)">-</button>
                            </div>
                            <div class="toggle_mil">
                                <button ng-if="!car.methods.MIL" ng-click="car.methods.toggleMIL()">On</button>
                                <button ng-if="car.methods.MIL" ng-click="car.methods.toggleMIL()">Off</button>
                            </div>
                            <div class="send_alerts">
                                <button ng-click="car.methods.generateAlert(car)">Send Alert</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>