<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="harris" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="harris" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="harris" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="harris" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Harris Application</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="components/html5-boilerplate/css/normalize.css">
        <link rel="stylesheet" href="components/html5-boilerplate/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="app.css">
        <link rel="stylesheet" href="js/popup-box/popup-box-1.0.0.css" />

        <script src="components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="components/jquery/dist/jquery.min.js"></script>
        <script src="js/popup-box/popup-box-1.0.0.js"></script>
    </head>
    <body>
        <header>
            <div class="top">
                <div class="bg">
                    <div class="red"></div>
                </div>
                <div class="wrap box_sizing">
                    <div class="logo">
                        <img src="images/logo.png" />
                    </div>
                    <div class="navigation">
                        <ul class="container transform_ny_50 h4_size bold uppercase">
                            <li class="item transition_3sec active"><a class="transform_ny_50" href="#">Real Time</a></li>
                            <li class="item transition_3sec"><a class="transform_ny_50"href="#">History</a></li>
                            <li class="item transition_3sec"><a class="transform_ny_50" href="#">Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rtm">
                <div class="wrap box_sizing">
                    <h1 class="title uppercase semibold">Real Time Monitoring</h1>
                </div>
            </div>
        </header>
        <main ng-controller="RealTimeResultsCtrl">
            <div class="vehicle_list">
                <div class="wrap wrap_thin">
                    <div class="row" ng-repeat="row in cars">
                        <div class="threecol car box_sizing bold transition_3sec" ng-class="{clicked: selected_car == car}" ng-repeat="car in row" ng-click="clicked_car(car)">
                            <div class="info">
                                <div class="vin">{{car.pk_vin}}</div>
                                <div class="status uppercase">{{car.status}}</div>
                            </div>
                            <div class="status_color" ng-class="{ok: car.status == 'ok', error: car.status == 'error', warning: car.status == 'warning'}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="car_info">
                <div class="wrap wrap_thin">
                    <div class="container">
                        <div class="no_car_selected" ng-if="selected_car == null">
                            <h1 class="uppercase">No car selected</h1>
                        </div>
                        <div class="car_selected" ng-if="selected_car != null">
                            <h1 class="title">{{selected_car.pk_vin}}</h1>
                            <div class="vin property">
                                <label class="uppercase">Vin:</label>
                                {{selected_car.pk_vin}}
                            </div>
                            <div class="make property">
                                <label class="uppercase">Make:</label>
                                {{selected_car.make}}
                            </div>
                            <div class="model property">
                                <label class="uppercase">Model:</label>
                                {{selected_car.model}}
                            </div>
                            <div class="year property">
                                <label class="uppercase">Year:</label>
                                {{selected_car.year}}
                            </div>
                            <div class="description property">
                                <label class="uppercase">Description:</label>
                                {{selected_car.description}}
                            </div>
                            <div class="status property">
                                <label class="uppercase">Status:</label>
                                {{selected_car.status}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="error_list">
                <div class="wrap wrap_thin">
                    <h1 class="title uppercase">Error History</h1>
                    <div class="table">
                        <div class="head">
                            <div class="title uppercase cell bold">Vin</div>
                            <div class="title uppercase cell bold">Code</div>
                            <div class="title uppercase cell bold">Message</div>
                        </div>
                        <div class="error" ng-repeat="error in errors">
                            <div class="vin cell">{{error.vin}}</div>
                            <div class="code cell">{{error.code}}</div>
                            <div class="message cell">{{error.message}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="wrap">
                Copyright 2014 © Harris Corporation. All Rights Reserved.
            </div>
        </footer>
        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        -->
        <script src="components/angular/angular.js"></script>
        <script src="components/angular-route/angular-route.js"></script>
        <script src="app.js"></script>
    </body>
</html>
